@import '../common.scss';

.oxygen.panel {
  position: relative;

  display: flex;
  overflow: hidden;
  flex-flow:column;
  margin: 1rem;

  background: $clouds;

  @include borderRadius;
  @include shadow1;

  &.fluid {
    width: 100%;
  }

  &.dark {
    background: $midnight;
  }
}
