@import '../common.scss';

.oxygen.panel {
  position: relative;

  display: flex;
  overflow: hidden;
  flex-flow:column;
margin: 1rem;

  background: #ecf0f1;

  @include borderRadius;
  @include shadow1;

  &.fluid {
    width: 100%;
  }
}
