@import '../common.scss';

.oxygen.menu {
  flex-flow: row;
  justify-content: center;
  min-height: 3rem;
  max-height: 3rem;

  &.small {
    min-height: 2rem;
    max-height: 2rem;
  }

  &.big {
    min-height: 5rem;
    max-height: 5rem;
  }

  &.fluid {
    width: 100%;
    box-sizing: border-box;
  }
}
