@import '../common.scss';

.oxygen.headline {
  position: relative;

  display: flex;
  align-items: center;
  flex-flow: row;
  justify-content: center;

  width: 100%;
  margin-top: 3rem;
  margin-bottom: 1rem;

  text-align: center;

  color: rgba($clouds, 0.89);

  font-size: 3rem;
  font-weight: normal;
}
