@import '../common.scss';

.loader {
  position: relative;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 10rem;
}

.loader1 span{
  display: inline-block;
  width: 5px;
  height: 20px;
  background: $midnight;
  margin-right: 0.25rem;
}

.loader1 span:nth-child(1){
  animation: grow 1s ease-in-out infinite;
}

.loader1 span:nth-child(2){
  animation: grow 1s ease-in-out 0.15s infinite;
}

.loader1 span:nth-child(3){
  animation: grow 1s ease-in-out 0.30s infinite;
}

.loader1 span:nth-child(4){
  animation: grow 1s ease-in-out 0.45s infinite;
}

@keyframes grow{
  0%, 100%{
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
  }

  50%{
    -webkit-transform: scaleY(1.8);
    -ms-transform: scaleY(1.8);
    -o-transform: scaleY(1.8);
    transform: scaleY(1.8);
  }
}

.loader2 {
  perspective: 120px;
}

.loader2 span:first-child {
  position: absolute;
  width: 3rem;
  height: 3rem;
  background: $midnight;
  animation: flip 1s infinite;
}

.loader2 span:not(:first-child) {
  display: none;
}

@keyframes flip {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(180deg)  rotateX(180deg);
  }
}
