@import '../common.scss';

.oxygen.panel-header {
  background: rgba($silver, 0.3);
  border-bottom: 1px solid rgba($silver, 0.5);
  padding: 1rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: rgba($midnight, 0.89);
}
