@import '../common.scss';

.oxygen.panel-header {
  background: rgba($silver, 0.3);
  border-bottom: 1px solid rgba($silver, 0.5);
  padding: 1rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: rgba($midnight, 0.89);
}

.oxygen.panel.dark > .oxygen.panel-header {
  background: rgba($midnight, 0.89);
  color: rgba($clouds, 0.89);
  border-color: rgba($asphalt, 0.5);
}
