@import '../common.scss';

.oxygen.button {
  margin: 0 0.25em 0.5em 0;
  padding: 0.75em 1.5em 0.75em;

  cursor: pointer;

  color: rgba($midnight, 0.89);
  border: none;
  outline: 0;
  background: lighten($silver, 7.5%);
  box-shadow: 0 3px 0 darken($silver, 7.5%);

  font-size: 1rem;
  font-weight: bold;

  @include borderRadius;
  @include transition;

  &:hover,
  &:focus {
  }

  &:active {
    margin-top: 3px;
    margin-bottom: 5px;
    box-shadow: none;
  }

  &.teal {
    @include button-color($turquoise, $greensea, $clouds);
  }

  &.teal.inverted {
    @include inverted-button($turquoise, $greensea);
  }

  &.green {
    @include button-color($emerald, $nephritis, $clouds);
  }

  &.green.inverted {
    @include inverted-button($emerald, $nephritis);
  }

  &.blue {
    @include button-color($river, $blue, $clouds);
  }

  &.blue.inverted {
    @include inverted-button($river, $blue);
  }

  &.purple {
    @include button-color($amethyst, $wisteria, $clouds);
  }

  &.purple.inverted {
    @include inverted-button($amethyst, $wisteria);
  }

  &.black {
    @include button-color($asphalt, $midnight, $clouds);
  }

  &.black.inverted {
    @include inverted-button($asphalt, $midnight);
  }

  &.orange {
    @include button-color($sunflower, $orange, $clouds);
  }

  &.orange.inverted {
    @include inverted-button($sunflower, $orange);
  }

  &.dark-orange {
    @include button-color($carrot, $pumpkin, $clouds);
  }

  &.dark-orange.inverted {
    @include inverted-button($carrot, $pumpkin);
  }

  &.red {
    @include button-color($red, $darkred, $clouds);
  }

  &.red.inverted {
    @include inverted-button($red, $darkred);
  }

  &.fluid {
    width: 100%;
  }

  &.attachLeft {
    @include borderRadiusLeft;
    margin-right: 0;
  }

  &.attachRight {
    @include borderRadiusRight;
  }

  &.attachMid {
    @include borderRadiusMid;
    margin-left: 0;
    margin-right: 0;
  }
}
