@import '../common.scss';

.oxygen.button {
  min-height: 1em;
  margin: 0 0.25em 0 0;
  padding: 0.75em 1.5em 0.75em;

  cursor: pointer;
  transition: 0.25s;

  color: rgba($midnight, 0.89);
  border: none;
  outline: 0;
  background: lighten($silver, 7.5%);
  box-shadow: 0 3px 0 darken($silver, 7.5%);

  font-size: 1rem;
  font-weight: bold;

  @include borderRadius;
  @include transition;

  &:hover,
  &:focus {
  }

  &:active {
    margin-top: 3px;
    margin-bottom: -3px;
    box-shadow: none;
  }

  &.teal {
    @include button-color($turquoise, $greensea, $clouds);
  }

  &.green {
    @include button-color($emerald, $nephritis, $clouds);
  }

  &.blue {
    @include button-color($river, $blue, $clouds);
  }

  &.purple {
    @include button-color($amethyst, $wisteria, $clouds);
  }

  &.black {
    @include button-color($asphalt, $midnight, $clouds);
  }

  &.orange {
    @include button-color($sunflower, $orange, $clouds);
  }

  &.dark-orange {
    @include button-color($carrot, $pumpkin, $clouds);
  }

  &.red {
    @include button-color($red, $darkred, $clouds);
  }

  &.fluid {
    width: 100%;
  }

  &.attachLeft {
    @include borderRadiusLeft;
    margin: 0;
  }

  &.attachRight {
    @include borderRadiusRight;
  }

  &.attachMid {
    @include borderRadiusMid;
    margin: 0;
  }
}
