$turquoise: #1abc9c;
$greensea: #16a085;

$emerald: #2ecc71;
$nephritis: #27ae60;

$river: #3498db;
$blue: #2980b9;

$amethyst: #9b59b6;
$wisteria: #8e44ad;

$asphalt: #34495e;
$midnight: #2c3e50;

$sunflower: #f1c40f;
$orange: #f39c12;

$carrot: #e67e22;
$pumpkin: #d35400;

$red: #e74c3c;
$darkred: #c0392b;

$clouds: #ecf0f1;
$silver: #bdc3c7;

$concrete: #95a5a6;
$asbestos: #7f8c8d;

.oxygen {
  font-family: 'Roboto Condensed';
}

@mixin shadow1 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

@mixin shadow2 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

@mixin shadow3 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

@mixin shadow4 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

@mixin button-color($bg, $bg2, $fg) {
  color: $fg;
  background: $bg;
  box-shadow: 0 3px 0 $bg2;

  &:hover,
  &:focus {
  }

  &:active {
    margin-top: 3px;
    margin-bottom: 5px;
    box-shadow: none;
  }
}

@mixin inverted-button($col, $col2) {
  @include button-color ($clouds, $col2, $col);
  border: 2px solid $col;
}

@mixin borderRadius {
  border-radius: 0.25rem;
}

@mixin borderRadiusLeft {
  border-radius: 0.25rem 0 0 0.25rem;
}

@mixin borderRadiusRight {
  border-radius: 0 0.25rem 0.25rem 0;
}

@mixin borderRadiusMid {
  border-radius: 0;
}

@mixin standardBorder {
  border: 1px solid $silver;
}

@mixin standardBorderAttachLeft {
  border: 1px solid $silver;
  border-right: none;
}

@mixin standardBorderAttachRight {
  border: 1px solid $silver;
  border-left: none;
}

@mixin standardBorderAttachMid {
  border: 1px solid $silver;
  border-left: none;
  border-right: none;
}

@mixin transition {
  transition: 0.25s;
}
