@import '../common.scss';

.oxygen.paragraph {
  position: relative;

  display: flex;
  align-items: center;
  flex-flow: row;
  justify-content: center;
  max-width: 100%;
  
  margin-bottom: 1rem;

  color: rgba($clouds, 0.89);

  font-weight: lighter;

  &.inverted {
    color: rgba($midnight, 0.89);
  }

  &.fluid {
    width: 100%;
  }
}
